# Pandas: Data Series Exercise 1

#### Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [3]:
import pandas as pd
ds = pd.Series([2,4,6,8,10])
ds

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [5]:
#convert a Panda module Series to Python list and itâ€™s type.

print("Pandas Series and Type")
print(ds)
print(type(ds))
print("Convert Pandas Series to Python List")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and Type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python List
[2, 4, 6, 8, 10]
<class 'list'>

In [9]:
#Write a Pandas program to compare the elements of the two Pandas Series

ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,10])

print("Series 1:")
print(ds1)
print("Series 2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series 1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series 2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [16]:
#Write a Pandas program to convert a dictionary to a Pandas series. Go to the editor
#Sample Series:
#Original dictionary:
#{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

dict = {'a':100, 'b': 200, 'c':300, 'd':400, 'e': 800}
print("Original Dictionary: ")
print(dict)
ds3 = pd.Series(dict)
print("Converted Series")
print(ds3)

Original Dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted Series
a    100
b    200
c    300
d    400
e    800
dtype: int64

Write a Pandas program to convert a NumPy array to a Pandas series. Go to the editor
Sample Series:
NumPy array:
[10 20 30 40 50]

In [20]:
import numpy as np

np_array = np.array([10,20,30,40,50])
print("Numpy Array")
print(np_array)
print(type(np_array))
ds4 = pd.Series(np_array)
print("Converted to Panda DataSeries")
print(ds4)

Numpy Array
[10 20 30 40 50]
<class 'numpy.ndarray'>
Converted to Panda DataSeries
0    10
1    20
2    30
3    40
4    50
dtype: int32

Write a Pandas program to change the data type of given a column or a Series.

Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [22]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series")
print(s1)
print("Change the said data type to numeric")
s2 = pd.to_numeric(s1,errors='coerce')
print(s2)

Original Data Series
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series. Go to the editor
Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
1st column as a Series:
0 1
1 2
2 3
3 4
4 7
5 11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [47]:
d={'col1':[1,2,3,4,7,11], 'col2': [4,5,6,9,5,0], 'col3': [7,5,8,12,1,11]}

df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
s1 = df.ix
print("\n1st column as a series:")
print(s1)
print(type(s1))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

AttributeError: 'DataFrame' object has no attribute 'ix'